<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-strength" role="menuitem"><a href="{{site.baseurl}}tag/strength/">Strength</a></li>
    <li class="nav-running" role="menuitem"><a href="{{site.baseurl}}tag/running/">Running</a></li>
    <li class="nav-nutrition" role="menuitem"><a href="{{site.baseurl}}tag/nutrition/">Nutrition</a></li>
    <li class="nav-recovery" role="menuitem"><a href="{{site.baseurl}}tag/recovery/">Recovery</a></li>
    <li class="nav-quick-starts" role="menuitem"><a href="{{site.baseurl}}tag/quick-starts/">Quick Starts</a></li>
</ul>
